.glow-effect {
    animation: glow 1.5s infinite alternate ease-in-out;
  }
  
  @keyframes glow {
    0% {
      filter: drop-shadow(0 0 5px #4eb040);
      opacity: 0.8;
    }
    50% {
      filter: drop-shadow(0 0 12px #4eb040);
      opacity: 1;
    }
    100% {
      filter: drop-shadow(0 0 5px #4eb040);
      opacity: 0.8;
    }
  }
  